{% extends 'base.html' %} {% block title %} Home {% endblock title %}{% block
bodyblock %}

<div class="hero-div-main">
  <div class="cursor"><span>DRAG</span></div>

  <h1>The Dev's <br />Coffee Table</h1>
  <span
    >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, quis
    maiores. Magni voluptates atque vitae inventore molestias? Iusto, itaque
    quos.</span
  >
  <a href="/articles"> <button>Start Learning</button></a>

  <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img
      class="image"
      src="https://images.unsplash.com/photo-1524781289445-ddf8f5695861?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1610194352361-4c81a6a8967e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1618202133208-2907bebba9e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1495805442109-bf1cf975750b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1548021682-1720ed403a5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1496753480864-3e588e0269b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1613346945084-35cccc812dd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1759&q=80"
      draggable="false"
    />
    <img
      class="image"
      src="https://images.unsplash.com/photo-1516681100942-77d8e7f9dd97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
      draggable="false"
    />
  </div>

  <script src="../static/scripts/image-sldier.js"></script>
  <script src="../static/scripts/drag-cursor.js"></script>
</div>

<div class="cards-section-main">
  <h1 class="title">Start With</h1>
  <div class="cards">
    <div class="card">
      <div class="img"><img src="../static/images/learn.png" alt="" /></div>
      <div class="title"><h2>Learning</h2></div>
    </div>
    <div class="card active">
      <div class="img">
        <img src="../static/images/forums.png" alt="" />
      </div>
      <div class="title"><h2>Forums</h2></div>
    </div>
    <div class="card">
      <div class="img">
        <img src="../static/images/solution.png" alt="" />
      </div>
      <div class="title"><h2>Solutions</h2></div>
    </div>
  </div>
</div>

{% endblock bodyblock %}
