{% extends "base.html" %} {% block title %}Login {% endblock %} {% block bodyblock %}

  </head>
  <body>
    <div class="login-form-main">

      <div class="left"></div>
      <div class="right">

      <h1 class="title">Login</h1>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <p class="link">Not Registred yet? <a href="/signup">SignUp</a></p>

        <button type="submit">Login</button>
      </form>
    </div>
    </div>

{% endblock bodyblock %}