<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      .login-form {
        width: 300px;
        margin: 0 auto;
        padding: 100px 0;
      }
      .login-form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
      }
      .login-form button {
        width: 100%;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
