{% extends "base.html" %} {% block title %}Login {% endblock %} {% block bodyblock %}

  </head>
  <body>
    <div class="login-form-main">

      <div class="left"></div>
      <div class="right">

      <h1 class="title">Sign Up</h1>
    <form action="/signup" method="POST">
      <input type="text" id="username" name="username" placeholder="username" required />
      <input type="email" id="email" name="email" placeholder="email" required />
      <input type="password" id="password" name="password" placeholder="password" required />
        <p class="link">Already a user? <a href="/login">Login</a></p>
      <button type="submit"  >Register</button>
      <div class="social-login">
        <ul><a href="/github"><li><i class="bi bi-github"></i></li></a>
          <a href=""><li><i class="bi bi-google"></i></li></a>
          <a href=""><li><i class="bi bi-stack-overflow"></i></li></a></ul>

      </div>
    </form>
  </div>
</div>

{% endblock bodyblock %}