{% block sidebar %}
<div class="sidebar">
  <ul>
    <li>
      <a href="/"><i class="bi bi-house-door-fill"></i><span>Home</span></a>
    </li>
    <li>
      <a href="/profile"><i class="bi bi-person"></i><span>Profile</span></a>
    </li>
    <li>
      <a href="/articles"
        ><i class="bi bi-journals"></i><span>Articles</span></a
      >
    </li>
    <li>
      <a href="#"><i class="bi bi-patch-question"></i><span>Tutorials</span></a>
    </li>
    <h3 class="title"><span>Trending Tags</span></h3>
    <div class="tags">
      <li>
        <a href="#"><span>Python</span></a>
      </li>
      <li>
        <a href="#"><span>TypeScript</span></a>
      </li>
      <li>
        <a href="#"><span>Ruby</span></a>
      </li>
      <li>
        <a href="#"><span>Flask</span></a>
      </li>
      <li>
        <a href="#"><span>Django</span></a>
      </li>
      <li>
        <a href="#"><span>Rust</span></a>
      </li>
      <li>
        <a href="#"><span>GoLang</span></a>
      </li>
    </div>
  </ul>
</div>
{% endblock sidebar %}
